
<script src="https://sdk.jinrishici.com/v2/browser/jinrishici.js" charset="utf-8"></script>

<div class="bg-img pd-header" style='height:auto;padding-top: 100px;'>
  <div id="navigate">
		<div class="navigate">
			<!-- 标题栏 -->
			<div class="navigate-header">
				<div class="navigate-header__title">
					<%= page.searchTitle %>
				</div>
				<div class="navigate-header__desc" id='jinrishici-sentence'>
					正在加载中诗词...
				</div>
			</div>
			<!-- 搜索框 -->
			<div class="navigate-search">
				<input 
					type="text" 
					class='navigate-search__input' 
					placeholder='<%- page.search[0].placeholder %>' 
					url='<%- page.search[0].url %>'>
				<div class="navigate-search__btn">
					<i class='fas fa-search'></i>
				</div>
			</div>
			<!-- 搜索导航 -->
			<ul class="navigate-search-menu">
				<% if(page.search && page.search.length > 0) { %>
					<% page.search.forEach((search, index) =>  { %>
						<li 
							class='navigate-search-menu__item <% if(index === 0) { %> active <% } %>'
							title='<%- search.placeholder %>'
							url='<%- search.url %>'
						><%= search.name %></li>
					<% }) %>
				<% } %>
			</ul>
			<div style='padding: 10px;'></div>
			<!-- 导航分类卡片 -->
			<ul class="navigate-wrap clearfix tags-posts">
				<% if (site.data && site.data.navigate ) { %>
					<% site.data.navigate.forEach(nav => { %>
						<li class='navigate-card'  data-aos="zoom-in-up">
							<div class="navigate-card__title">
								<%= nav.categorie %>
							</div>
							<div class="navigate-card__desc">
								<%= nav.introduction %>
							</div>
							<!-- 导航列表 -->
							<ul class="navigate-card__nav clearfix">
								<% if (nav.navList && nav.navList.length > 0) { %>
									<% nav.navList.forEach(curNav => { %> 
										<li class="nav-item">
										<!-- 如网站获取不到favicon请自行填写 -->
										<img src="
											<% if (!!curNav.favicon) { %>
												<%- curNav.favicon %>
											<% } else { %>
												<%- 'https://i.olsh.me/icon?size=80..120..200&url=' + curNav.url %>
											<% } %>
										" alt="">
											<a href="<%- curNav.url %>" target="_blank"><%= curNav.name %></a>
										</li>
									<% }) %> 
								<% } %>
							</ul>
						</li>
					<% }) %>
				<% } %>
			</ul>
		</div>
	</div>
</div>
<script>
	// 点击搜索导航事件
	function searchNav(){
		var searchItem = $('.navigate-search-menu__item')
		var inputEl = $('.navigate-search__input')
		searchItem.click(function(){
		// 切换active
			searchItem.eq($(this).index()).addClass('active').siblings('li').removeClass('active')
			// 改变input的提示内容, 并把url放入
			inputEl.attr('placeholder', $(this).attr('title'))
			inputEl.attr('url', $(this).attr('url'))
		})
	}
	searchNav()

	// 搜索事件
	function handleSearch(){
		var ipt = $('.navigate-search__input')
		// 点击按钮事件搜索
		$('.navigate-search__btn').click(function(){
			var url = ipt.attr('url').replace('{query}', ipt.val())
			window.open(url)
			ipt.val('')
		})
		// 回事事件搜索
		ipt.keydown(function(e){
			if (e.keyCode === 13) {
				var url = ipt.attr('url').replace('{query}', ipt.val())
				window.open(url)
				ipt.val('')
			}
		})
	}
	handleSearch()

</script>
<% if (theme.banner.enable) { %>
	<script>
		// 每天切换 banner 图.  Switch banner image every day.
		var bannerUrl =
			"<%- theme.jsDelivr.url %><%- url_for('/medias/banner/') %>" +
			new Date().getHours() +
			".jpg"
		$(".bg-img").css("background-image", "url(" + bannerUrl + ")")
	</script>
<% } else { %>
	<script>
		$('.bg-img').css('background-image', 'url(<%- theme.jsDelivr.url %><%- url_for('/medias/banner/0.jpg') %>)');
	</script>
<% } %>
