<div class="row">
    <div class="col s10 offset-s1 m8 offset-m2 l8 offset-l2">
        <div class="brand">
            <div class="title center-align">
                <% if (config.subtitle && config.subtitle.length > 0) { %>
                <%= config.subtitle %>
                <% } else { %>
                    subtitle
                <% } %>
            </div>

            <div class="description center-align">
                <% if (theme.subtitle.enable) { %>
                <span id="subtitle"></span>
                <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>
                <script>
                    var typed = new Typed("#subtitle", {
                        strings: [
                            '<%= theme.subtitle.sub1 %>',
                            '<%= theme.subtitle.sub2 %>',
                            '<%= theme.subtitle.sub3 %>',
                            '<%= theme.subtitle.sub4 %>',
                            '<%= theme.subtitle.sub5 %>',
                            '<%= theme.subtitle.sub6 %>'],
                        startDelay: <%= theme.subtitle.startDelay %>,
                        typeSpeed: <%= theme.subtitle.typeSpeed %>,
                        loop: <%= theme.subtitle.loop %>,
                        backSpeed: <%= theme.subtitle.backSpeed %>,
                        showCursor: <%= theme.subtitle.showCursor %>
                    });
                </script>
                <% } else { %>
                    <!-- <%= config.description %> -->
                    <span id='jinrishici-sentence'>
                        <%- '正在加载今日诗词....' %>
                    </span>
                <% } %>
            </div>
        </div>
    </div>
</div>

<% if (theme.banner.enable) { %>
	<% if (theme.banner.random) { %> 
		<script>
			function setBanner(){
				var curDate = new Date().getMinutes()
				var bannerUrl = sessionStorage['heny-blog-banner']
				var cacheHours = +sessionStorage['heny-blog-banner-date'];
				// 第一次和超时更换图片
				if (isNaN(cacheHours) || (cacheHours !== curDate && curDate % 5 === 0)) {
					cacheHours = sessionStorage['heny-blog-banner-date'] = curDate
					bannerUrl = sessionStorage['heny-blog-banner'] =
						"<%- theme.jsDelivr.url %><%- url_for('/medias/banner/') %>" +
						Math.round(Math.random() * 24) +
						".jpg"
				}
				$(".bg-cover").css("background-image", "url(" + bannerUrl + ")")
			}
			setBanner()
		</script>
	<% } else { %> 
		<script>
			// 每天切换 banner 图.  Switch banner image every day.
			var bannerUrl = "<%- theme.jsDelivr.url %><%- url_for('/medias/banner/') %>" + new Date().getHours() + '.jpg';
			$('.bg-cover').css('background-image', 'url(' + bannerUrl + ')');
		</script>
	<% } %> 
<% } else { %>
<script>
    $('.bg-cover').css('background-image', 'url(<%- theme.jsDelivr.url %><%- url_for("/medias/banner/0.jpg") %>)');
</script>
<% } %>
